@charset "UTF-8";

.body-login {
    padding-top: 5rem;
    padding-bottom: calc(10rem - 4.5rem);
    font-family: "Segoe UI", sans-serif;
    background: url("../assets/images/PAdmin03.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.login-box {
    background-color: rgba(0, 44, 103, 0.8);
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* margin-left: 20px; */
    margin-right: 20px;
}

.b-box {
    background-color: rgba(203, 226, 236, 0.5);
    border-radius: 8px;
}

.dark {
    background-color: rgba(0, 44, 103, 0.8);
}

h1 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255);
    font-family: "Lora", sans-serif;
    font-size: 3.5rem;
}

h2 {
    font-weight: 500;
    margin-bottom: 10px;
    color: rgba(255, 255, 255);
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
}

h3 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255);
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1rem auto;
    background-color: #0049AC;
    opacity: 1;
}

hr.divider-light {
    background-color: #CBE2EC;
}

.order-lg-1 {
    order: 1 !important;
}

.order-lg-2 {
    order: 2 !important;
}

.ed-login {
    padding-top: 3rem;
    padding-bottom: calc(10rem - 4.5rem);
    font-family: "Segoe UI", sans-serif;
    background: url("../assets/images/PAdmin04.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-left: 20px;
    border-radius: 8px;
}