@charset "UTF-8";

body {
    background-color: #f8f9fa;
    min-height: 100vh;
    margin: 0;
}

.navbar-brand img {
    max-height: 40px;
    margin-right: 10px;
}

.navbar {
    z-index: 1030;
    background-color: rgb(181, 201, 228);
}

.sidebar {
    min-width: 200px;
    max-width: 200px;
    background-color: rgb(0, 44, 103);
    min-height: calc(100vh - 56px - 40px);
    /* ajustado al alto del navbar y footer */
}

.sidebar .nav-link {
    color: rgb(190, 190, 190);
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    /* background-color: rgb(1, 61, 139); */
    /* background-color: rgba(255, 255, 255, 0.3); */
    font-weight: 500;
    color:rgb(255, 255, 255);
}

.sidebar .badge {
    font-size: 0.75rem;
    margin-left: 5px;
    vertical-align: middle;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.content-wrapper {
    display: flex;
    min-height: calc(100vh - 56px - 40px);
    /* navbar y footer */
}

footer {
    background-color: #97b4d1;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 40px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .sidebar.show {
        display: block;
        position: absolute;
        top: 56px;
        left: 0;
        z-index: 1040;
        height: calc(100vh - 56px);
    }
}

.text-blue{
    color:rgb(0, 44, 103)
}

.sidebar-text{
    padding-top: 9px;
    padding-left: 2px;
}

.logo{
    padding-right: 10px;
}

.sec-sidebar{
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
}