@charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border-radius: 0 !important;
}

.body-login {
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

.background-image {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url("../assets/images/PAdmin12.webp") center center / cover no-repeat;
  z-index: -1;
}

.login-box {
  background-color: rgba(0, 44, 103, 0.8);
  padding: 30px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .login-box {
    padding: 20px 15px;
    margin: 0 10px;
  }
}


h1 {
    font-weight: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255);
    font-family: "Lora", "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
}

h3 {
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255);
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1rem auto;
    background-color: #0049AC;
    opacity: 1;
}

hr.divider-light {
    background-color: #CBE2EC;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mb-sm-4 {
    margin-bottom: 1.5rem !important;
}

.logoLogin {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}