@charset "UTF-8";

/* BODY */
body {
    padding-top: 56px;
    margin: 0;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: calc(100vh - 56px);
    overflow: hidden;
}
/* FIN BODY */

/* INICIO NAVBAR */
.navbar {
    background-color: rgb(218, 227, 242);
    color: rgb(0, 44, 103);
}

/* Logo */
.navbar .logo {
    max-height: 40px;
}

/* Título del navbar */
.navbar-title {
    font-size: 1.9rem;
    font-weight: 500;
    white-space: nowrap; /* evita que se corte en dos líneas */
}

/* Responsive ajustes opcionales */
@media (max-width: 768px) {
    .navbar-title {
        font-size: 1rem;
    }

    #toggleSidebar {
        padding: 0.25rem 0.5rem;
        font-size: 1.2rem;
    }
}
/* Párrafo servicios */
/* Por defecto (mobile first): celulares pequeñas y menores a 576px */
#servicios p,
.servicios-box p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
}

/* Tablets: desde 576px hasta menos de 992px */
@media (min-width: 576px) and (max-width: 991.98px) {

  #servicios p,
  .servicios-box p {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
  }
}

/* Computadores: desde 992px en adelante */
@media (min-width: 992px) {

  #servicios p,
  .servicios-box p {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
  }
}

/* FIN NAVBAR */

/* INICIO SIDEBAR */
.sidebar {
    width: 210px;
    background-color: rgb(42, 42, 83);
    color: rgb(218, 227, 242);
    height: 100%;
    overflow-y: auto;
    transition: all 0.3s ease;
    flex-shrink: 0;
    border-right: 1px solid #dee2e6;
    padding-top: 10px;
    padding-left: 5px;
    z-index: 1000;
    position: relative;
}

.sidebar.hidden {
    display: none;
}

.sidebar .nav-link {
    color: rgb(190, 190, 190);
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    /* background-color: rgb(1, 61, 139); */
    /* background-color: rgba(255, 255, 255, 0.3); */
    font-weight: 500;
    color: rgb(255, 255, 255);
}

/* Contenido principal */
.main-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem;
    transition: all 0.3s ease;
}

/* Responsive: móvil */
@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        left: -250px;
        top: 0;
        height: 100%;
        z-index: 1100;
        transition: left 0.3s ease;
    }

    .sidebar.show {
        left: 0;
    }

    .wrapper {
        flex-direction: column;
    }

    .main-content {
        padding: 1rem;
    }
}

/* FIN SIDEBAR */

.alert-box {
    max-width: 350px;
    height: 100px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Card */
.card-body {
    font-family: "Raleway", sans-serif;
       padding-top: 30px !important;
    padding-bottom: 30px !important; 
}

.card-header{
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


h4 {
    font-family: "Raleway", sans-serif;
}
h5 {
    font-family: "Raleway", sans-serif;
    font-size: 17px !important;
    text-align: center;
    background-color: rgb(240, 235, 235);
    color:rgb(155, 153, 153) !important;
    padding-top: 6px;
    padding-bottom: 6px;
}

.secc-title{
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);        
    margin-bottom: 20px;
}



/* FOOTER */

.text-muted-footer {
  --bs-text-opacity: 0.25;
  color: rgb(156, 155, 155) !important;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}

.sidebar-footer {
  border-top: 1px solid #6b6a6a; /* Cambia #FF0000 por el color que quieras */
  /* Puedes cambiar también el color del texto si quieres */
}
